<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoParty | Home</title>
    <link rel="stylesheet"  href="/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/jquery.inputmask.min.js"></script>

    <link rel="icon" type="image/x-icon" href="/css/img/LogoSimples.png">
</head>
<body >
    <!--menu-lateral-->
    <nav class="menu-lateral" id="menu-lateral">

        <div class="btn-expandir">
            <img src="/css/img/LogoSimples.png" alt="logo" id="btn-exp" />
            <span class="txt-link"> <img src="/css/img/LogoGoParty.png" alt="GoParty" id="palavraGoParty"> </span>
        </div><!--btn-expandir-->
        <div>
            <div></div>
        </div>
        <ul>
            <li class="item-menu">
                <a th:href="@{/perfil}">
                    <img src="/css/img/profileIcon.png" alt="Perfil" class="icon" >
                    <span class="txt-link">Perfil</span>
                </a>
            </li>
            <li class="item-menu">
                <a th:href="@{/usuarios}">
                    <img src="/css/img/UsersIcon.png" alt="Usuários" class="icon">
                    <span class="txt-link">Explorar</span>
                </a>
            </li>
            <!--
            <li class="item-menu" style="cursor: pointer;">
                <a onclick="openModalChat()">
                    <img src="/css/img/communication.png" alt="Usuários" class="icon">
                    <span class="txt-link">Conversas</span>
                </a>
            </li>
            -->
            <li class="item-menu ativo">
                <a th:href="@{/home}" >
                    <img src="/css/img/homeIcon.png" alt="Home" class="icon">
                    <span class="txt-link">Home</span>
                </a>
            </li>
            <li class="item-menu">
                <a  th:href="@{/evento}" >
                    <img src="/css/img/PostIcon.png" alt="Eventos" class="icon">
                    <span class="txt-link">Postar</span>
                </a>
            </li>
            <li class="item-menu">
                <a  th:href="@{/ingressos}">
                    <img src="/css/img/tickets.png" alt="Ingressos" class="icon">
                    <span class="txt-link">Ingressos</span>
                </a>
            </li>
            <li class="item-menu">
                <a th:href="@{/notificacoes}">
                    <div class="contador-notificacao">
                        <div th:if="${notificacoesNaoVisualizadas > 0}" class="circulo">
                            <span th:text="${notificacoesNaoVisualizadas}"></span>
                        </div>
                    </div>
                    <img src="/css/img/notification-bell.png" alt="notificacao" class="icon" >
                    <span class="txt-link">Notificações</span>
                </a>
            </li>
            
            <li class="item-menu">
                <a onclick="openModalConfiguracao()" class="links" id="modal-configs">
                    <img src="/css/img/configs.png" alt="config" class="icon">
                    <span class="txt-link">Configurações</span>
                </a>
            </li>

            <li class="item-menu">
                <a th:href="@{/logout}">
                    <img src="/css/img/log-out.png" alt="logout" class="icon">
                    <span class="txt-link">Sair</span>
                </a>
            </li>
        </ul>
    </nav>    

    <div class="container">
        <div class="left-conta" id="info-usuario" >
            <!-- Parte Esquerda Informações do Usuario -->
            <div class="left-sidebar-perfil" style=" width: 250px;">
            
                <!-- Imagem de Perfil Usuario -->
                <img class="imgPerfil" 
                    th:if="${sessionUsuario.fotoPerfil != null}" 
                    th:src="@{'/perfil-imagem/' + ${sessionUsuario.id}}" 
                    alt="Foto de Perfil" />
                    
                <img class="imgPerfil" 
                    th:unless="${sessionUsuario.fotoPerfil != null}" 
                    src="/css/img/fotoPerfil.jpg" 
                    alt="" 
                    id="imgPerfil-vazio" />

                <!-- Informações do Usuario -->
                <h2><span class="arroba">@</span><span th:text="${sessionUsuario.username}"></span></h2>
                <div class="info">
                    <h3 class="descricaoUser"><span th:text="${sessionUsuario.descricao}"></span></h3>                 
                </div>
            </div>


            <div class="left-sidebar-perfil" style="height: 250px; width: 250px;">
                <!-- Informações do Usuario -->
                <h2 style="font-size: 17px;">Eventos em Alta <span><i class="bi bi-bar-chart-fill"></i></span></h2>
                <div class="info">
                    <!--Listas eventos em alta-->
                    <ul th:if="${not #lists.isEmpty(eventosMaisCurtidos)}">
                        <li th:each="evento : ${eventosMaisCurtidos}">
                            <span th:text="${evento.titulo}"></span>
                        </li>
                    </ul>
                    <p th:unless="${not #lists.isEmpty(eventosMaisCurtidos)}">Sem eventos em alta.</p>

                </div>
            </div>
            <div class="left-sidebar-perfil" style="height: 250px; width: 250px;">
                
            </div>
        </div>

        <style>
            .info ul{
                border: 1px solid #333;
                border-radius: 30px;
                padding: 10px;
            }

            .info ul li{
                font-size: 15px;
            }
        </style>

        <!-- Feed -->
        <div class="center-content" id="center-feed">

            <section id="feed-section">
  
                <button onclick="mostrarFiltros()" class="btn-mostrar-filtro" id="filtro" title="Filtros"><span><i class="bi bi-filter"></i></span></button>

                <div class="filtros-evento" style="display: none;">
                    <div class="filtro-estado">
                        <form action="/filtro-bairro" method="post" id="searchForm">
                            <input type="text" class="search__input" placeholder="Bairro" name="bairroFiltrado" id="input-pesquisar">
                            <button class="search__button" type="submit" id="btn-explorar">
                                <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                                    <g>
                                        <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                                    </g>
                                </svg>
                            </button>
                        </form>
                    </div>
                    <div class="end-cidade">

                        <form action="/filtro-cidade" method="post" id="filtroCidade">
                            <input type="text" class="search__input" placeholder="Cidade" name="cidadeFiltrada" id="input-pesquisar">
                            <button class="search__button" type="submit" id="btn-explorar">
                                <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                                    <g>
                                        <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                                    </g>
                                </svg>
                            </button>
                        </form>                         
                    </div>
                    <select name="estado" id="estado" required style="height: 40px; margin-right: -20px; border-radius: 10px;">
                        <option value="sc">SC</option>
                        <option value="sp">SP</option>
                        <option value="rj">RJ</option>
                        <option value="ro">RO</option>
                        <option value="pr">PR</option>
                        <option value="ac">AC</option>
                        <option value="rs">RS</option>
                        <option value="mt">MT</option>
                        <option value="mg">MG</option>
                    </select>  
                </div>
                <div th:each="evento : ${eventos}" class="evento-bloco">

                    <!-- Bloco Esquerdo Evento -->
                    <div class="bloco-evento-left" >
                        <h3 style="margin-bottom: 0;"><img class="logoUser" src="/css/img/LogoSimples.png"><a style="text-decoration: none;" th:href="@{/perfilUsuario/{id}(id=${evento.autor.id})}"><span class="usernameEvento" th:text="${evento.autor.username}"></span></a></span></h3>
                        <h2 style="margin: 0; color: rgb(255, 65, 65);" th:text="${evento.titulo}"></h2>
                        <img id="imagemEvento_${evento.id}" class="imgEvento" th:src="@{'/evento-imagem/' + ${evento.id}}" alt="foto">
                        <!-- <span class="curtidas" th:text="${quantidadeCurtidasPorEvento[evento.id]}"></span> -->
                        
                        <div class="evento-interacoes" style="display: flex; align-items: center;">
                            <div class="evento-curtidas">
                                <div class="heart-container" title="Curtir" th:if="${usuarioJaCurtiuEventoMap[evento.id]} == false">
                                    <input type="checkbox" class="checkbox" id="evento-${evento.id}" th:attr="data-evento-id=${evento.id}" onchange="checkboxChanged(this)">
                                    <div class="svg-container">
                                        <svg viewBox="0 0 24 24" class="svg-outline" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                            </path>
                                        </svg>
                                        <svg viewBox="0 0 24 24" class="svg-filled" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                            </path>
                                        </svg>
                                        <svg class="svg-celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                            <polygon points="10,10 20,20"></polygon>
                                            <polygon points="10,50 20,50"></polygon>
                                            <polygon points="20,80 30,70"></polygon>
                                            <polygon points="90,10 80,20"></polygon>
                                            <polygon points="90,50 80,50"></polygon>
                                            <polygon points="80,80 70,70"></polygon>
                                        </svg>
                                    </div>
                                    
                                </div>
                                <!--Span com a quantidade de curtidas passando o id do evento-->

                                <div class="heart-container" title="Curtido" th:if="${usuarioJaCurtiuEventoMap[evento.id]} == true">
                                    <input type="checkbox" class="checkbox" id="descurtir-${evento.id}" th:attr="data-evento-id=${evento.id}" th:checked="${usuarioJaCurtiuEventoMap[evento.id] == true}" onchange="checkboxChanged(this)">
                                    <div class="svg-container">
                                        <svg viewBox="0 0 24 24" class="svg-outline" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                            </path>
                                        </svg>
                                        <svg viewBox="0 0 24 24" class="svg-filled" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                            </path>
                                        </svg>
                                        <svg class="svg-celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                            <polygon points="10,10 20,20"></polygon>
                                            <polygon points="10,50 20,50"></polygon>
                                            <polygon points="20,80 30,70"></polygon>
                                            <polygon points="90,10 80,20"></polygon>
                                            <polygon points="90,50 80,50"></polygon>
                                            <polygon points="80,80 70,70"></polygon>
                                        </svg>
                                    </div>
                                </div>
    
                            </div>
                            
                             <!-- Botão Comprar -->
                             <button class="buyBtn" onclick="abrirCompra(this)">
                                <span>Comprar</span>
                                <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
                                </svg>
                            </button>

                            <!-- Botão abrir comentários -->
                            <button class="chatBtn" onclick="toggleComentarios(this)">
                                <svg height="1.6em" fill="white" xml:space="preserve" viewBox="0 0 1000 1000" y="0px" x="0px" version="1.1">
                                    <path d="M881.1,720.5H434.7L173.3,941V720.5h-54.4C58.8,720.5,10,671.1,10,610.2v-441C10,108.4,58.8,59,118.9,59h762.2C941.2,59,990,108.4,990,169.3v441C990,671.1,941.2,720.5,881.1,720.5L881.1,720.5z M935.6,169.3c0-30.4-24.4-55.2-54.5-55.2H118.9c-30.1,0-54.5,24.7-54.5,55.2v441c0,30.4,24.4,55.1,54.5,55.1h54.4h54.4v110.3l163.3-110.2H500h381.1c30.1,0,54.5-24.7,54.5-55.1V169.3L935.6,169.3z M717.8,444.8c-30.1,0-54.4-24.7-54.4-55.1c0-30.4,24.3-55.2,54.4-55.2c30.1,0,54.5,24.7,54.5,55.2C772.2,420.2,747.8,444.8,717.8,444.8L717.8,444.8z M500,444.8c-30.1,0-54.4-24.7-54.4-55.1c0-30.4,24.3-55.2,54.4-55.2c30.1,0,54.4,24.7,54.4,55.2C554.4,420.2,530.1,444.8,500,444.8L500,444.8z M282.2,444.8c-30.1,0-54.5-24.7-54.5-55.1c0-30.4,24.4-55.2,54.5-55.2c30.1,0,54.4,24.7,54.4,55.2C336.7,420.2,312.3,444.8,282.2,444.8L282.2,444.8z"></path>
                                </svg>
                                <span class="tooltip">Comentários&nbsp;<span th:text="${evento.comentarios.size()}"></span> </span>
                            </button>
                            
                        </div>
                        
                    </div>

                    <!-- Bloco Direito Evento -->
                    <div class="bloco-evento-right">
                        <div class="title-descricao">
                            <p class="arroba">Descrição</p>
                            <p class="descricaoEvento" th:text="${evento.descricao}"></p>
                        </div>

                        
                            <p class="descricaoEvento" th:text="${evento.horario}"></p>
                        
                        
                        <div style="display: flex; align-items: center;">
                            <p class="descricaoEvento" th:text="${evento.estado}" style="text-transform: uppercase;"></p>&nbsp;&nbsp;&nbsp;
                            <p class="arroba" >|&nbsp;&nbsp;&nbsp;</p>
                            <p class="descricaoEvento" th:text="${evento.cidade}"></p>&nbsp;&nbsp;&nbsp;
                            <p class="arroba">|&nbsp;&nbsp;&nbsp;</p>
                            <p class="descricaoEvento" th:text="${evento.bairro}"></p>
                        </div>
                        
                        <p class="descricaoEvento" th:text="${evento.valor}"></p>

                        
                        <!-- Bloco onde ficam os comentários --> 
                        <div class="comentarios hidden">
                            <ul class="ul-comentarios">
                                <li th:each="comentario : ${evento.comentarios}" style="padding: 5px;
                                background: #fdfdfd;
                                border-radius: 10px; margin: 5px;">
                                    <div class="bloco-usuario">
                                        <span class="arroba">@</span>
                                        <p th:text="${comentario.autor.username}"></p>
                                    </div>
                                    <div class="bloco-comentario">
                                        <p th:text="${comentario.texto}"></p>
                                    </div>
                                </li>
                            </ul>
                            <!-- Bloco com input para fazer um comentário -->
                            <div class="bloco-evento-comenta">
                                <form th:action="@{'/evento/' + ${evento.id} + '/comentar'}" method="post">
                                    <input name="texto" placeholder="Digite seu comentário" required>
                                    <button type="submit">Comentar</button>
                                </form>
                          </div>   
                        </div>
      
                    </div>

                    <!-- Bloco para comprar ingresso do Evento -->
                    <div class="bloco-evento-compra" id="blocoCompra_${evento.id}" style="display: none;">
                        <h1 class="arroba">Comprar Ingresso</h1>
                        <div class="formCompra">
                            <form method="post" action="comprar-ingresso" style="display: block;">
                                <input type="hidden" name="eventoId" th:value="${evento.id}">
                                <input type="text" name="cpfComprador" id="cpfComprador" placeholder="CPF do Comprador" required>

                                <button>Confirmar</button>
                            </form>
                            <!-- Bloco para exibir mensagens de erro -->
                            <div th:if="${message}" class="error-message">
                                <p th:text="${message}" style="color: red;"></p>
                            </div>
                        </div>
                        

                        <div class="blocoPagamento">
                            
                            <img src="/css/img/qrCode.png" alt="">
                        </div>
                        
                      </div>
                    
                    

                </div>
        </section>
    </div>

    <!-- Modal Notificações -->
    <div id="modalNotificacao" class="modal-notificacao" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="fecharModalNotificacao()">&times;</span>
            <h1 class="tittle-modal">Notificações</h1>
            <div class="bloco-notificacoes"> 
                <!--Lista de notificações-->
                <ul>
                    <li th:if="${#lists.isEmpty(notifications)}">
                        <span>Não há notificações.</span>
                    </li>
                    <li class="lista-notificacoes" th:each="notification, index : ${notifications}">
                        
                        <!--Bloco especifico-->
                     <div class="notification-container">
                         <!--Tempo da notificacao-->
                         
                        <img class="imgNoti" th:src="@{'/perfil-imagem-notification/' + ${notification.id}}" alt="Foto de Perfil" />
    
                        <span class="arroba" id="arroba-id">@</span><span class="notifications" th:text="${notification.message}"> </span>
                     </div>
                    </li>                                   
                </ul>
            </div>
        </div>
    </div>

    <!--Modal Config-->
    <div id="modalConfiguracao" class="modal-configuracao" style="display: none;">
        <div class="modal-config">
            <span class="close" onclick="fecharModalConfiguracao()">&times;</span>
            <h1 class="tittle-modal">Configurações</h1>
            <div class="bloco-config">
                <button id="btnConfig" class="btn-config" onclick="abrirEdicao()">Editar Perfil</button>
                <button id="btnTemas" class="btn-config" onclick="abrirTemas()">Mudar Tema</button>
                <button id="btnPrivacidade" class="btn-config">Privacidade</button>
                <button id="btnExcluir" class="btn-config" onclick="abrirExcluir()">Excluir Conta</button>
            </div>
            
            <div id="blocoEdicao" class="bloco-edicao" style="display: none; justify-content: center;">
                <!-- Form para mudar informações de Conta -->
                <form method="POST" action="/editar" class="edit-form" enctype="multipart/form-data">
                    <input type="hidden" name="_method" value="PUT">
                    <input type="text" name="username" id="edit-nome" placeholder="Novo Usuario">
                    <input type="text" name="email" id="edit-email" placeholder="Novo Email">
                    <input type="text" name="descricao" id="edit-descricao" placeholder="Nova Descrição">
                    <input type="password" name="senha" id="edit-senha" placeholder="Nova Senha">
                    <button class="btn-salvar" id="btn-salvar">Salvar</button>                
                </form>
                <!-- Form para mudar foto do Perfil -->
                <form class="edit-form" action="/upload" method="POST" enctype="multipart/form-data" >
                    <!-- Use uma label personalizada para o input de arquivo -->
                    <label class="upload-foto" for="fotoPerfil" id="upload-label">Escolha uma foto</label>
                    <input type="file" name="fotoPerfil" id="fotoPerfil">
                    <div id="file-name"></div>
                    <!-- Botão de envio personalizado -->
                    <input class="btn-salvar" type="submit" value="Enviar" id="enviar">
                </form>
            </div>

            <div id="blocoTemas" class="bloco-temas" style="display: none; justify-content: center;">
                <h1>Escolha o Tema do Sistemas</h1>
                <div class="temas-opcoes">
                    <Button class="btnDark" onclick="darkMode()">Dark</Button>
                    <button class="btnLight" onclick="lightMode()">Light</button>
                </div>
            </div>

            <div id="blocoExcluir" class="bloco-excluir" style="display:none; justify-content: center;">
                <h1>Deseja excluir sua conta?</h1>
                <!-- Botão para Excluir a Conta -->
                    <form action="/deletar" method="post" id="form-excluir">
                        <input type="hidden" name="_method" value="DELETE">
                            <button class="btn-excluir" id="btn-excluir">
                                <svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
                            </button>
                    </form>
            </div>

            
        </div>
    </div>

     <!--Modal chats-->
     <div id="modalChat" class="modal-configuracao" style="display: none;">
        <div class="modal-config">
            <span class="close" onclick="fecharModalChats()">&times;</span>
            <h1 class="tittle-modal">Suas conversas</h1>
            <div class="bloco-config">
                
            </div>
            
            <div id="blocoEdicao" class="bloco-edicao" style="display: none; justify-content: center;">
               

            </div>

            <div id="blocoTemas" class="bloco-temas" style="display: none; justify-content: center;">
                

            </div>

            <div id="blocoExcluir" class="bloco-excluir" style="display:none; justify-content: center;">
                
            </div>
            
        </div>
    </div>

    <!--Modal chats-->
    <div id="modalDevs" class="modal-devs" style="display: none;">
        <div class="modal-config">
            <span class="close" onclick="fecharModalDevs()">&times;</span>
            <h1 class="tittle-modal">Desenvolvedoress</h1>            
        </div>
    </div>
    </div>
    <footer id="ulFooter">
        <ul class="ul-footer" >
            <li><h4>GoParty © 2023</h4></li>
            <li><h4>Sobre</h4></li>
            <li><h4 onclick="openModalDevs()">Desenvolvedores</h4></li>
        </ul>
    </footer>
    <script src="/webjars/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    
    
<script>
    var stompClient = null;

    function connect() {
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);

        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/messages', function (response) {
                showMessage(JSON.parse(response.body));
            });
        });
    }

    function sendMessage() {
        /*var content =  obter conteúdo da mensagem */;
       /* var sender =  obter remetente */;
        stompClient.send("/app/chat", {}, JSON.stringify({ 'content': content, 'sender': sender }));
    }

    function showMessage(message) {
        // lógica para exibir a mensagem na interface do usuário
    }
</script>
    

    <script src="/css/js/buttons.js"></script>
    <script src="/css/js/barraLateral.js"></script>
</body>
</html>