<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoParty | Perfil</title>
    <link rel="stylesheet"  href="/css/home.css">
    <link rel="icon" type="image/x-icon" href="/css/img/LogoSimples.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <nav class="menu-lateral" id="menu-lateral">
        <!--btn-expandir-->
        <div class="btn-expandir">
            <img src="/css/img/LogoSimples.png" alt="logo" id="btn-exp" />
            <span class="txt-link"> <img src="/css/img/LogoGoParty.png" alt="GoParty" id="palavraGoParty"> </span>
        </div>
    
        <ul>
            <li class="item-menu">
                <a th:href="@{/perfil}">
                    <img src="/css/img/profileIcon.png" alt="Perfil" class="icon" >
                    <span class="txt-link">Perfil</span>
                </a>
            </li>
            <li class="item-menu">
                <a  th:href="@{/usuarios}">
                    <img src="/css/img/UsersIcon.png" alt="Usuários" class="icon">
                    <span class="txt-link">Explorar</span>
                </a>
            </li>
             <!--
            <li class="item-menu" style="cursor: pointer;">
                <a onclick="openModalChat()">
                    <img src="/css/img/communication.png" alt="Usuários" class="icon">
                    <span class="txt-link">Conversas</span>
                </a>
            </li>
            -->
            <li class="item-menu">
                <a th:href="@{/home}">
                    <img src="/css/img/homeIcon.png" alt="Home" class="icon">
                    <span class="txt-link">Home</span>
                </a>
            </li>
            <li class="item-menu">
                    <a  th:href="@{/evento}">
                    <img src="/css/img/PostIcon.png" alt="Eventos" class="icon">
                    <span class="txt-link">Postar</span>
                </a>
            </li>
            <li class="item-menu">
                <a  th:href="@{/ingressos}" >
                    <img src="/css/img/tickets.png" alt="Ingressos" class="icon">
                    <span class="txt-link">Ingressos</span>
                </a>
            </li>
            <li class="item-menu">
                <a th:href="@{/notificacoes}">
                    <div class="contador-notificacao">
                        <div th:if="${notificacoesNaoVisualizadas > 0}" class="circulo">
                            <span th:text="${notificacoesNaoVisualizadas}"></span>
                        </div>
                    </div>
                    <img src="/css/img/notification-bell.png" alt="notificacao" class="icon" >
                    <span class="txt-link">Notificações</span>
                </a>
            </li>
            
            <li class="item-menu">
                <a onclick="openModalConfiguracao()" class="links" id="modal-configs">
                    <img src="/css/img/configs.png" alt="config" class="icon">
                    <span class="txt-link">Configurações</span>
                </a>
            </li>
    
            <li class="item-menu">
                <a th:href="@{/logout}">
                    <img src="/css/img/log-out.png" alt="logout" class="icon">
                    <span class="txt-link">Sair</span>
                </a>
            </li>
        </ul>
    
    </nav>


    <div class="container">
         <!-- Onde ficará (Estou seguindo)  -->
         
        <div class="left-sidebar">

            <img class="imgPerfil" 
            th:if="${usuario.fotoPerfil != null}" 
            th:src="@{'/perfil-imagem/' + ${usuario.id}}" 
            alt="Foto de Perfil" />
       
            <img class="imgPerfil"
                th:unless="${usuario.fotoPerfil != null}" 
                src="/css/img/fotoPerfil.jpg" 
                alt="" 
                id="imgPerfil-vazio" />
            <h2><span class="arroba">@</span><span th:text="${usuario.username}"></span></h2>
            <div class="info">
                <h3 class="descricaoUser"><span th:text="${usuario.descricao}"></span></h3>
                
               
                <h4><span th:text="${usuario.email}"></span></h4>
               
                <!--Seguidores e seguindo -->
                
                <div class="seguidores-seguindo-container"> 
                    <a href="">
                         <p>Seguidores : <span class="qtde-seguir" th:text="${followersCount}"></p>
                     </a>
                     <a href="">
                         <p>Seguindo :  <span class="qtde-seguir" th:text="${followingCount}"></p>
                     </a>
                    </div>

                  <!--Botao de seguir usuário-->

                  <span th:if="${isNotFollower}">
                    <!-- Se o usuário da sessão não estiver seguindo o usuário do perfil, exiba o botão "Seguir" -->
                   
                    <button class="btn-perfil-follow" id="btn-follow" type="submit" onclick="followUser(this)"  th:attr="data-usuario-id=${usuario.id}">
                           
                           <strong>Seguir</strong>
                            <div id="container-stars">
                              <div id="stars"></div>
                            </div>
                          
                            <div id="glow">
                              <div class="circle"></div>
                              <div class="circle"></div>
                            </div>
                          </button>
                   
                </span>

                <span th:unless="${isNotFollower}">

                    <!--Caso seguir mostra o icone de chat-->
                    <button style="background: none; border: none; cursor: pointer;" id="btn-iconchat" onclick="toggleChatContainer()">
                        <span><i class="bi bi-chat-dots"></i></span>
                    </button>
    

                    <button class="btn-perfil-follow" id="btn-unfollow" type="submit" onclick="followUser(this)"  th:attr="data-usuario-id=${usuario.id}">

                         <strong>Seguindo</strong>

                        <div id="container-stars">
                          <div id="stars"></div>
                        </div>
                      
                        <div id="glow">
                          <div class="circle"></div>
                          <div class="circle"></div>
                        </div>
                      </button>
               
            </span>

            <div class="spinner" style="display: none;" id="loading">
                <div class="spinner1"></div>
            </div>

            </div>
        </div>
    
        <div class="center-content" id="center-perfil">
            <div class="container-chat" id="chat-container" style="display: none;">
                <div class="nav-bar">
                    <a>Converse com @<span th:text="${usuario.username}"></span></a>
                  <div class="close-modal-chat" id="close-chat">
                       <div class="line one"></div>
                       <div class="line two"></div>
                  </div>
                </div>
                <div class="messages-area">
                  
                  <div class="message one"></div>
                  <div class="message two"></div>
                  <div class="message three"></div>
                  <div class="message four"></div>
                  <div class="message five"></div>
                  <div class="message six"></div>
                </div>
                <div class="sender-area">
                  <div class="input-place">
                      <input placeholder="Digite aqui" class="send-input" type="text" >
                      <div class="send" onclick="enviarMensagem(this)" th:attr="data-usuario-id=${usuario.id}">
                          <svg class="send-icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path fill="#6B6C7B" d="M481.508,210.336L68.414,38.926c-17.403-7.222-37.064-4.045-51.309,8.287C2.86,59.547-3.098,78.551,1.558,96.808 L38.327,241h180.026c8.284,0,15.001,6.716,15.001,15.001c0,8.284-6.716,15.001-15.001,15.001H38.327L1.558,415.193 c-4.656,18.258,1.301,37.262,15.547,49.595c14.274,12.357,33.937,15.495,51.31,8.287l413.094-171.409 C500.317,293.862,512,276.364,512,256.001C512,235.638,500.317,218.139,481.508,210.336z"></path></g></g></svg>
                      </div>
                    </div>
                </div>
              <div></div></div>

            <style>

                #btn-follow, #btn-unfollow{
                    cursor: pointer;
                }
            </style>

            <div th:each="evento : ${eventos}" class="evento-bloco">
                <div class="bloco-evento-left">
                    <h3 style="margin-bottom: 0;"><img class="logoUser" src="/css/img/LogoSimples.png"><span class="usernameEvento" th:text="${evento.autor.username}"></span></h3>
                    <h2 style="margin: 0; color: rgb(255, 65, 65);" th:text="${evento.titulo}"></h2>
                    <img class="imgEvento" th:src="@{'/evento-imagem/' + ${evento.id}}" alt="foto">
                </div>
                <div class="bloco-evento-right">
                    <div class="title-descricao">
                        <p class="arroba">Descrição</p>
                        <p class="descricaoEvento" th:text="${evento.descricao}"></p>
                    </div>
                    <div style="display: flex; align-items: center; margin: 0;" >
                        <img src="/css/img/iconHour.png" style="width: 20px; height: 20px;" alt="">
                        <p class="descricaoEvento" th:text="${evento.horario}"></p>
                    </div>
                    <p class="arroba">Local</p>
                    <div style="display: flex; align-items: center;">
                        <img src="/css/img/iconLocation.png" style="width: 20px; height: 20px;">
                        <p class="descricaoEvento" th:text="${evento.estado}" style="text-transform: uppercase;"></p>&nbsp;&nbsp;&nbsp;
                        <p class="arroba" >|&nbsp;&nbsp;&nbsp;</p>
                        <p class="descricaoEvento" th:text="${evento.cidade}"></p>&nbsp;&nbsp;&nbsp;
                        <p class="arroba">|&nbsp;&nbsp;&nbsp;</p>
                        <p class="descricaoEvento" th:text="${evento.bairro}"></p>
                    </div>
                    
                    <p class="descricaoEvento" th:text="${evento.valor}"></p>
                    <!-- Bloco onde ficam os comentários -->
                    <div class="comentarios hidden" >
                        <ul class="ul-comentarios">
                            <li th:each="comentario : ${evento.comentarios}">
                                <div class="bloco-usuario">
                                    <span class="arroba">@</span>
                                    <p th:text="${comentario.autor.username}"></p>
                                </div>
                                <div class="bloco-comentario">
                                    <p th:text="${comentario.texto}"></p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Botão abrir comentários -->
                    <button class="chatBtn" onclick="toggleComentarios(this)">
                        <svg height="1.6em" fill="white" xml:space="preserve" viewBox="0 0 1000 1000" y="0px" x="0px" version="1.1">
                            <path d="M881.1,720.5H434.7L173.3,941V720.5h-54.4C58.8,720.5,10,671.1,10,610.2v-441C10,108.4,58.8,59,118.9,59h762.2C941.2,59,990,108.4,990,169.3v441C990,671.1,941.2,720.5,881.1,720.5L881.1,720.5z M935.6,169.3c0-30.4-24.4-55.2-54.5-55.2H118.9c-30.1,0-54.5,24.7-54.5,55.2v441c0,30.4,24.4,55.1,54.5,55.1h54.4h54.4v110.3l163.3-110.2H500h381.1c30.1,0,54.5-24.7,54.5-55.1V169.3L935.6,169.3z M717.8,444.8c-30.1,0-54.4-24.7-54.4-55.1c0-30.4,24.3-55.2,54.4-55.2c30.1,0,54.5,24.7,54.5,55.2C772.2,420.2,747.8,444.8,717.8,444.8L717.8,444.8z M500,444.8c-30.1,0-54.4-24.7-54.4-55.1c0-30.4,24.3-55.2,54.4-55.2c30.1,0,54.4,24.7,54.4,55.2C554.4,420.2,530.1,444.8,500,444.8L500,444.8z M282.2,444.8c-30.1,0-54.5-24.7-54.5-55.1c0-30.4,24.4-55.2,54.5-55.2c30.1,0,54.4,24.7,54.4,55.2C336.7,420.2,312.3,444.8,282.2,444.8L282.2,444.8z"></path>
                        </svg>
                        <span class="tooltip">Comentários&nbsp;<span th:text="${evento.comentarios.size()}"></span> </span>
                    </button>
                </div>  
            </div>
        </div>

     <figure class="notification" id="popUp-seguiu" style="display: none;">

        <script>
            function toggleChatContainer() {
                var chatContainer = document.getElementById("chat-container");
                chatContainer.style.display = chatContainer.style.display === "none" ? "block" : "none";
            }
        </script>

        <div class="notification__body">
            
            <i class="bi bi-person-check-fill"></i>

             Perfil seguido com sucesso!

        </div>
        <div class="notification__progress"></div>
     </figure>

     <style>
        .notification{
            position: absolute;
            bottom: 4px;
            right: 4px;
            width: max-content;
            border-radius: 9px;
            background-color: #313e2c;
            color: #aaac8a;
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
            transform: translateY(30px);
            opacity: 0;
            visibility: hidden;
            animation: fade-in 3s linear;
        }

        .notification__icon{
            height: 26px;
            width: 26px;
            margin-right: 4px;
        }

        .notification__body{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 16px 8px;
        }

        .notification__progress{
            position: absolute;
            left: 4px;
            bottom: 4px;
            width: calc(100% - 8px);
            height: 3px;
            transform: scaleX(0);
            transform-origin: left;
            background: linear-gradient(to right, #313e2c, #aaec8a);
            animation: progress 2.5s 0.3s linear;
        }

        @keyframes fade-in{
            5% {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }

            95%{
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }

        @keyframes progress{
            to{
                transform: scaleX(1);
            }
        }
     </style>
    

    </div>

    <!-- Modal Notificações -->
    <div id="modalNotificacao" class="modal-notificacao" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="fecharModalNotificacao()">&times;</span>
            <h1 class="tittle-modal">Notificações</h1>
            <div class="bloco-notificacoes"> 
                <!--Lista de notificações-->
                <ul>
                    <li th:if="${#lists.isEmpty(notifications)}">
                        <span>Não há notificações.</span>
                    </li>
                    <li class="lista-notificacoes" th:each="notification, index : ${notifications}">
                        
                        <!--Bloco especifico-->
                     <div class="notification-container">
                         <!--Tempo da notificacao-->
                         
                        <img class="imgNoti" th:src="@{'/perfil-imagem-notification/' + ${notification.id}}" alt="Foto de Perfil" />
    
                        <span class="arroba" id="arroba-id">@</span><span class="notifications" th:text="${notification.message}"> </span>
                     </div>
                    </li>                                   
                </ul>
            </div>
        </div>
    </div>

    <!--Modal Config-->
    <div th:replace="home :: #modalConfiguracao"></div>
    <div th:replace="home :: #modalChat"></div>
   
    <script src="/css/js/buttons.js"></script>
    <script src="/css/js/barraLateral.js"></script>
</body>
</html>