<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
    <link rel="stylesheet"  href="/css/recuperarSenha.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/css/img/LogoSimples.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
          <!-- teste de formulario-->

      <div class="login-box">
        <img src="/css/img/Modelo Logo.png" alt="" class="logo-inicio">

        <form action="/recuperarSenha" method="post" id="email-inputs-form">
          <div class="user-box">
            <input type="email" name="email" id="email-input" required>
            <label>Digite o seu email cadastrado</label>

            <div th:if="${mensagem}" class="error-message">
              <p th:text="${mensagem}"></p>
            </div>
          </div>

          
          <button type="submit" class="btn-style" id="link-verificar-emails">
            Enviar
            <span></span>
          </button>    


        <button type="submit" class="btn-style" id="voltar-btn">
          <a  th:href="@{/login}" style="color: #e8e8e8;">
            Voltar
          </a>
        </button>

      </form>

      <svg viewBox="25 25 50 50" id="carregamento">
        <circle r="20" cy="50" cx="50"></circle>
      </svg>
      </div>

      <script>
        document.addEventListener("DOMContentLoaded", function () {
            var btnVerificarEmails = document.getElementById("link-verificar-emails");
            var emailInput = document.getElementById("email-input");
            var svgCarregamento = document.getElementById("carregamento");

            btnVerificarEmails.addEventListener("click", function () {
                if (emailInput.value === "") {
                    svgCarregamento.style.display = "none";
                } else {
                  svgCarregamento.style.display = "block";
                }
            });
        });
    </script>

      <script>
        // Selecionar o botão pelo seu ID
       var botao = document.getElementById("link-verificar-emails");
       const carregament = document.getElementById('carregamento');

      // Adicionar um ouvinte de evento de clique ao botão
      botao.addEventListener("click", function() {
      // Função que será executada quando o botão for clicado
      carregament.style.display = "block";

       });
      </script>


</body>

</html>